@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "tailwindcss";

.font-anton {
    font-family: 'Anton', sans-serif;
    font-style: italic;
    user-select: none;
}

.font-anton-no-italic {
  font-family: 'Anton', sans-serif;
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; 
}

