@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "tailwindcss";

.font-anton {
    font-family: 'Anton', sans-serif;
    font-style: italic;
    user-select: none;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
