@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "tailwindcss";

.font-anton {
    font-family: 'Anton';
    font-style: italic;
    user-select: none;
}

.font-anton-no-italic {
  font-family: 'Anton';
  user-select: none;
}

.font-anton-no-italic-bold {
  font-family: 'Anton';
  font-weight: bold;
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scrollbar-width: none;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none; 

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}